.container {
  margin: 10;
  background-color: #dee8e4
}

.groceryItem {
  margin-bottom: 10;
  padding-bottom: 10;
}

.defaultOption {
  color: gray;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.shopItem {
    margin-bottom: 10;
    padding-bottom: 10;
}

.archiveDivs {
    display: flex;
    flex-direction: row;
}
