.container {
  margin: 10;
  background-color: #dee8e4
}

.groceryItem {
  margin-bottom: 10;
  padding-bottom: 10;
}

.defaultOption {
  color: gray;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.archiveDivs {
    display: flex;
    flex-direction: row;
}

.numberInput {
    width: 30%;
}

.oldList {
    background-color: cyan;
}

.tableHeaders {
    text-align: left;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.notification {
  border-style: solid;
  border-color: #778899;
  border-width: 5px;
  background-color: white;
  margin-left: 70px;
  margin-right: 70px;
  margin: 20px;
}

.notificationFont {
  font-size: large;
  text-align: center;
  font-color: #dee8e4;
  margin: auto;
}